body{
  color:white;
  text-align:center;
  background-image: url("test_pic_one.jpg");
  font-family: 'Josefin Sans', sans-serif;
}
.enter a{
  position: relative;
  margin-top:50%;
}

a{
  color:white;
  font-style:bold;
  text-decoration:none;
}
